*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

html{
    font-size: 10px;
    font-family: 'SF Pro Display',sans-serif;
}
a{
    display: block;
    text-decoration: none;
}
.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}


/* Header */
header{
    position: fixed;
    top: 0;
    z-index: 1400;
    width: 100%;
    height: 4.4rem;
    background-color:#fff;
    
}
.nav-list{
    position: relative;
    left: 100px ;
    width: 1000px;
    
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}
.nav-top{
    position: relative;
    left: 65px;
    background: url("icons/and_jie_logo.svg") center no-repeat;
    background-size: 60%;
    width: 10rem;
    height: 3rem;

}
.nav-list-mobile{
    display: none;
}
.community{
    font-size: 1.4rem;
    color: #000;
    padding: 0 1rem;
    transition: opacity .5s;
    break-before: column;
}
.nav-link{
    font-size: 1.4rem;
    color: #000;
    padding: 0 1rem;
    transition: opacity .5s;
}



.nav-link:hover{
    opacity: .7;
}

.nav-link-search{
    width: 1.6rem;
    height: 4.4rem;
    background: url("icons/search.svg") center no-repeat;
}
.nav-link-bag{
    width: 1.4rem;
    height: 4.4rem;
    background: url("icons/bag.svg") center no-repeat;
}

.title{
    color: #fff;
    text-align: center;
    padding-top: 5.5rem;
}

.title-heading{
    font-size: 5.6rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;
}

.title-sub-heading{
    font-size: 2.65rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.title-price{
    font-size: 1.7rem;
    color: #888;
    margin-top: .68rem;
}


/* webfont - Lato */
@font-face {
	font-family:'Lato';
	font-weight:400;
	src:url('font/Lato-Bold.ttf') format('woff');
}
@font-face {
	font-family:'Lato';
	font-weight:700;
	src:url('font/Lato-Bold.ttf') format('woff');
}
@font-face {
	font-family:'Lato';
	font-weight:900;
	src:url('font/Lato-Bold.ttf') format('woff');
}

/* webfont - NotoSansKR */
@font-face {
	font-family:'NotoSansKR';
	font-weight:100;
	src:url('font/NotoSansKR-Thin.otf') format('woff');
	
}
@font-face {
	font-family:'NotoSansKR';
	font-weight:300;
	src:url('font/NotoSansKR-Light.otf') format('woff');
	
}

@font-face {
	font-family:'NotoSansKR';
	font-weight:700;
	src:url('font/NotoSansKR-Bold.otf') format('woff');
}


ul.nav-list > li > a {padding:0 15px; font-family:'NotoSansKR'; font-size:15px; line-height:64px;}

